langchain 
langchain-community
faiss-cpu
langchain-groq
langchain-ollama


# pip install -qU "langchain[google-genai]"
# pip install -qU "langchain[groq]"

#gsk_MpSqr4CDgTD................. ---- groq
